<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>Ftec Faculdades - Integra&ccedil;&atilde;o de Plataformas Embarcadas</title>
    
    <link href="{{ url_for('static', filename='css/patternfly.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/patternfly-additions.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/weather-icons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-default navbar-pf" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ftec Faculdades</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-collapse-1">
          <ul class="nav navbar-nav navbar-utility">
            <li><a href="#"  data-toggle="modal" data-target="#config-modal"><span class="fa fa-cogs"></span> Settings</a></li>
            <li><a href="#" data-toggle="modal" data-target="#about-modal"><span class="fa fa-info"></span> About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="AboutModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content about-modal-pf">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="pficon pficon-close"></span>
          </button>
        </div>
        <div class="modal-body">
          <h1>Ftec Faculdades</h1>
          <div class="product-versions-pf">
            <ul class="list-unstyled">
              <li><strong>Curso</strong> Sistemas Embarcados</li>
            </ul>
          </div>
          <div class="trademark-pf">
            Integra&ccedil;&atilde;o de Plataformas Embarcadas.<br>
            Israel Cristiano Kornd&ouml;rfer, Ralph Rebello e Marcos Santiago
          </div>
        </div>
        <div class="modal-footer">
          <img src="{{ url_for('static', filename='img/logo_ftec.png') }}" alt="FTEC Logo">
        </div>
      </div>
    </div>
    </div>

    <div class="modal fade" id="config-modal" tabindex="-1" role="dialog" aria-labelledby="ConfigModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="pficon pficon-close"></span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Device Configuration</h4>
          </div>
          <form class="form-horizontal" action="/dashboard" method="post">
            <div class="modal-body">
              <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label class="col-sm-3 control-label" for="textInput-modal-markup">OK Temp.</label>
                <div class="col-sm-9">
                    {{ formConfig.temp_ok(class_="form-control", placeholder=formConfig.temp_ok.description) }}
                </div>                               
              </div>
              <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label class="col-sm-3 control-label" for="textInput-modal-markup">DANGER Temp.</label>
                <div class="col-sm-9">
                    {{ formConfig.temp_danger(class_="form-control", placeholder=formConfig.temp_danger.description) }}
                </div>                               
              </div>
              <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label class="col-sm-3 control-label" for="textInput-modal-markup">OK Hum.</label>
                <div class="col-sm-9">
                    {{ formConfig.humi_ok(class_="form-control", placeholder=formConfig.humi_ok.description) }}
                </div>                               
              </div>
              <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label class="col-sm-3 control-label" for="textInput-modal-markup">DANGER Hum.</label>
                <div class="col-sm-9">
                    {{ formConfig.humi_danger(class_="form-control", placeholder=formConfig.humi_danger.description) }}
                </div>                               
              </div>
              <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label class="col-sm-3 control-label" for="textInput-modal-markup">Date/Time</label>
                <div class="col-sm-9">
                    {{ formConfig.date_time(class_="form-control", placeholder=formConfig.date_time.description) }}
                </div>                               
              </div>
              <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label class="col-sm-3 control-label" for="textInput-modal-markup">Alarm enable</label>
                <div class="col-sm-9">
                    {{ formConfig.alarm_enable(class_="form-control", placeholder=formConfig.alarm_enable.description) }}
                </div>                               
              </div>
            </div>
            <div class="modal-footer">
              {{ formConfig.submit(class_="btn btn-info") }}
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
             <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
                    <h2 class="card-pf-title">
                        <i class="fa wi wi-thermometer"></i>
                        <span class="card-pf-aggregate-status-count"><device-value id="GET_TEMPERATURE">0</device-value> &ordm;C</span> Temperature
                    </h2>
                    <div class="card-pf-body">
                        <p class="card-pf-aggregate-status-notifications">
                            <span class="card-pf-aggregate-status-notification"><device-value id="GET_TEMPERATURE_STATUS"><span class="fa fa-refresh fa-spin"></span></device-value></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
                    <h2 class="card-pf-title">
                        <a href="#">
                            <i class="fa wi wi-humidity"></i>
                            <span class="card-pf-aggregate-status-count"><device-value id="GET_HUMIDITY">0</device-value> %</span> Relative Humidity
                        </a>
                    </h2>
                    <div class="card-pf-body">
                        <p class="card-pf-aggregate-status-notifications">
                            <span class="card-pf-aggregate-status-notification"><device-value id="GET_HUMIDITY_STATUS"><span class="fa fa-refresh fa-spin"></span></device-value></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
                    <h2 class="card-pf-title">
                        <a href="#">
                            <span class="fa wi wi-barometer"></span>
                            <span class="card-pf-aggregate-status-count"><device-value id="GET_PRESSURE">0</device-value> hPa</span> Atmospheric Pressure
                        </a>
                    </h2>
                    <div class="card-pf-body">
                        <p class="card-pf-aggregate-status-notifications">
                            <span class="card-pf-aggregate-status-notification"><device-value id="GET_PRESSURE_STATUS"><span class="fa fa-refresh fa-spin"></span></device-value></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
                    <h2 class="card-pf-title">
                        <a href="#">
                            <span class="fa fa-arrow-up"></span>
                            <span class="card-pf-aggregate-status-count"><device-value id="GET_UPTIME">0</device-value> h</span></span> Uptime
                        </a>
                    </h2>
                    <div class="card-pf-body">
                        <p class="card-pf-aggregate-status-notifications">
                            <span class="card-pf-aggregate-status-notification"><device-value id="GET_UPTIME_STATUS"><span class="fa fa-refresh fa-spin"></span></device-value></span>
                        </p>
                    </div>
                </div>
            </div>         
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <h2 class="sub-header"><i class="pficon pficon-history"></i> Latest Incidents</h2>
            <div class="list-group list-view-pf">
            <incident-value id="incidents">
                <div class="list-group-item">
                    <div class="list-view-pf-main-info">
                        <i class="fa fa-refresh fa-spin" style="font-size:36px"></i>
                    </div>
                </div>
            </incident-value>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            
            <h2 class="sub-header"><span onclick="setAlarmOff();" class="fa fa-terminal"></span> Latest Activity</h2> 
            <div class="list-group list-view-pf">
            <incident-value id="activities">
                <div class="list-group-item">
                    <div class="list-view-pf-main-info">
                        <i class="fa fa-refresh fa-spin" style="font-size:36px"></i
                    </div>
                </div>
            </activity-value>
            </div>
        </div>
      </div>

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        var alarmStatus = 'DISABLE_STATUS';
        var source;
        var lastMsgId = -1;
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        
        socket.on('deviceconfig', function (data) {
            for (var key in data) {
                var value = data[key];
                var id = null;
                
                if (key == 'GET_TEMPERATURE_OK') {
                    id = 'temp_ok';
                } else if (key == 'GET_TEMPERATURE_DANGER') {
                    id = 'temp_danger';
                } else if (key == 'GET_HUMIDITY_OK') {
                    id = 'humi_ok';
                } else if (key == 'GET_HUMIDITY_DANGER') {
                    id = 'humi_danger';
                } else if (key == 'GET_DATE_TIME') {
                    id = 'date_time';
                } else if (key == 'GET_ALARM_ENABLE') {
                    id = 'alarm_enable';
                    value = value !== 0;
                } 
                
                setField(id, value);
            }
        });

        socket.on('devicedata', function (data) {
            var dash_keys = {'GET_TEMPERATURE' : '0', 'GET_HUMIDITY': '0', 'GET_PRESSURE': '0000.00', 'GET_UPTIME': '00:00'};
            var dash_status = {'GET_TEMPERATURE_STATUS': 'OK_STATUS', 'GET_HUMIDITY_STATUS': 'OK_STATUS'};
            
            for (var key in data) {
                var value = data[key];
                
                if (key in dash_status) {
                    setStatus(key, value);
                } else if (key == 'GET_ALARM_STATUS') {
                    alarmStatus = value;
                } else if (key == 'GET_PRESSURE') {
                    var pressure = value/100.00;
                    setValues(key, pressure);
                } else if (key in dash_keys){
                    setValues(key, value);
                    setStatus('GET_UPTIME_STATUS', 'OK_STATUS');
                    setStatus('GET_PRESSURE_STATUS', 'OK_STATUS');
                }
                setAlarmStatus();
            }
        });

        socket.on('incidents', function (data) {
            updateIncidents(data);
        });

        socket.on('activities', function (data) {
            updateActivities(data);
        });

        function setValues(id, num) {
            document.getElementById(id).innerHTML=num;
        }
        function setStatus(id, str) {
            var result;
            if (str == 'WARNING_STATUS') result = 'pficon-warning-triangle-o'
            else if (str == 'DANGER_STATUS') result = 'pficon-error-circle-o'
            else result = 'pficon-ok';
            
            document.getElementById(id).innerHTML='<span class="pficon '+result+'"></span>';
        }
        function setField(id, str) {
            if (id != null) {
                if (str === true || str === false) {
                    document.getElementById(id).checked = str;
                } else {
                    document.getElementById(id).value = str;
                }
            }
        }        
        function setAlarmStatus() {
            if (alarmStatus == 'ENABLE_STATUS') {
                document.getElementById('GET_TEMPERATURE_STATUS').innerHTML='<span id="ALARM_STATUS" class="fa fa-bullhorn fa-pulse" onclick="setAlarmOff();" style="font-size:24px;color:red"></span>';
            }
        }
        function setAlarmOff() {
            var cmd = {"command": 'SET_ALARM_ACKNOWLEDGE'};
            socket.emit('alarm_button', cmd); 
            return false;        
        }
        function updateIncidents(incidents) {
            var index, size, text, icon, unit, status;
            
            size = incidents.length - 1;
            text = '';
            icon = '<i class="fa wi wi-thermometer"></i>';
            unit = '&ordm;C';
            status = '<span class="pficon pficon-info list-view-pf-icon-md list-view-pf-icon-info"></span>'
            
            for (index = size; index >= 0; index--) {
                
                if (incidents[index]["status"] == 'WARNING') {
                    status = '<span class="pficon pficon-warning-triangle-o list-view-pf-icon-md list-view-pf-icon-warning"></span>'
                } else if (incidents[index]["status"] == 'DANGER') {
                    status = '<span class="pficon pficon-error-circle-o list-view-pf-icon-md list-view-pf-icon-danger"></span>'
                }
                text += '<div class="list-group-item"><div class="list-view-pf-actions"><div class="list-view-pf-additional-info-item">'+
                        icon+
                        '<strong>'+incidents[index]["value"]+'</strong> '+unit+
                        '</div></div><div class="list-view-pf-main-info"><div class="list-view-pf-left">'+
                        status+
                        '</div><div class="list-view-pf-body"><div class="list-view-pf-description"><div class="list-group-item-heading">'+
                        incidents[index]["text"]+
                        '<small>'+incidents[index]["time"]+'</small>'+
                        '</div></div></div></div></div>';
                document.getElementById('incidents').innerHTML=text;
            }         
        }

        function updateActivities(activities) {
            var index, size, text, icon;
            
            size = activities.length - 1;
            text = '';
            
            for (index = size; index >= 0; index--) {
                icon = '<span class="pficon pficon-info list-view-pf-icon-md list-view-pf-icon-info"></span>';
               
                if (activities[index]["type"] == 'reception')
                    icon = '<span class="pficon pficon-import list-view-pf-icon-md list-view-pf-icon-info"></span>'
                    
                 if (activities[index]["type"] == 'transmission')
                    icon = '<span class="pficon pficon-export list-view-pf-icon-md list-view-pf-icon-info"></span>'
            
                text += '<div class="list-group-item"><div class="list-view-pf-main-info"><div class="list-view-pf-left">'+
                        icon+
                        '</div><div class="list-view-pf-body"><div class="list-view-pf-description"><div class="list-group-item-heading">'+
                        activities[index]["text"]+
                        '<small>'+activities[index]["time"]+'</small>'+
                        '</div></div></div></div></div>';
                document.getElementById('activities').innerHTML=text;
            }         
        }

    </script>
  </body>
</html>
