<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    
    <title>Ftec Faculdades - Integra&ccedil;&atilde;o de Plataformas Embarcadas</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1 class="display-4 text-center">Integra&ccedil;&atilde;o de Plataformas Embarcadas</h1>
    <h4 class="display-4 text-center"><small>Israel Cristiano Kornd&ouml;rfer, Ralph Rebello e Marcos Santiago</small></h4>
    <hr>
    <img src="{{ url_for('static', filename='img/logo_ftec.jpg') }}" alt="..." class="img-responsive center-block" style="width: 60%;"/>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center"> 
            <a href="/dashboard" class="btn btn-primary center" role="button">Access Dashboard</a>
        </div>
    </div>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
